language: node_js
node_js:
  - "8"
sudo: false
env:
  - CC=clang CXX=clang++ npm_config_clang=1
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
services:
- redis-server
